@media screen and (min-width: 770px) {
  .container {
    width: 100%;
  }
}

/* Mobile Device */

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: auto;
  }

  .left-section > img {
    width: 100%;
  }

  .right-section ul {
    flex-direction: column;
    text-align: justify;
    width: 100%;
    margin-top: 1rem;
  }
  .batch-info {
    margin-top: 1rem;
  }
  .section2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .launch-carrer h2 {
    font-size: 1.8rem;
    text-align: left;
  }
  .launch-carrer span {
    font-size: 1.4rem;
  }
  .curriculum-designed p {
    margin-left: 1rem;
    color: #8393a9;
    font-size: 0.8rem;
  }
  .left-section2,
  .job-offered {
    margin-bottom: 2rem;
    width: 80%;
  }
  .job-offered {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .made-by-student {
    margin: auto;
    width: 80%;
  }
  .form1 {
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form h1 {
    font-size: 1.5rem;
  }
  .form h3 {
    font-size: 0.9rem;
  }
  .apply-btn {
    margin-left: 1.3rem;
  }

  .brands {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;
  }
  .brands img {
    width: 50%;
  }
  .placement-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .card1 {
    display: flex;
    flex-direction: column;
  }
  .container2 {
    width: 75%;
    height: auto;
  }
  .container2:nth-child(2),
  .container2:nth-child(5) {
    height: auto;
  }
  .info p {
    text-align: justify;
    width: auto;
  }
  .subcontainer-footer {
    text-align: left;
    margin-left: 1rem;
  }

  .card-container,
  h1,
  h4 {
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4.3rem;
  }
}
